<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CRUD</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">
    </head>
    <body>
        <div class="container-fluid bg-dark">
            {% include 'myapp/navbar.html' %}
        </div>
        <div class="container mt-5">
            {% comment %} <h2 class="text-center alert alert-danger">CRUD PROJECT</h2> {% endcomment %}
            {% block content %}{% endblock content %}
        </div>
        <script src="{% static 'myapp/js/jquery.js'%}"></script>
        <script src="{% static 'myapp/js/popper.js'%}"></script> 
        <script src="{% static 'myapp/js/bootstrap.js'%}"></script>
    </body>
</html>